{
    "semi": true,
    "tabWidth": 4,
    "printWidth": 150,
    "singleQuote": false,
    "proseWrap": "always",
    "trailingComma": "all",
    "arrowParens": "avoid",
    "bracketSpacing": true,
    "jsxSingleQuote": false,
    "bracketSameLine": true,
    "embeddedLanguageFormatting": "auto",
    "htmlWhitespaceSensitivity": "ignore"
}
