@import "tailwindcss";

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background-color: #171717;
}
::-webkit-scrollbar-thumb {
  border-radius: 3px;
  background-color: #dc2626;
}
* {
  scrollbar-width: thin;
  scrollbar-color: #dc2626 #171717;
}
