# Node.js modules
**/node_modules/
**/.yarn/
**/.pnp/
**/.pnp.*
**/.yarn/*
!**/.yarn/patches
!**/.yarn/plugins
!**/.yarn/releases
!**/.yarn/versions
# Cookies and specific binaries
**/cookies.txt
**/ffprobe**
**/ytprobe**
**/ffmpeg**
**/yt-dlx**
**/tor**
**/YouTubeDLX
**/yt-dlx
# Environment variables
**/.env
**/.env*
**/.env*.local
**/expo-env.d.ts
# Logs and debug files
**/*.log
**/npm-debug.*
**/yarn-debug.*
**/yarn-error.*
**/pnpm-debug.log*
# Build and distribution files
**/package/
**/dist/
**/temp/
**/out/
**/build/
**/web-build/
**/next-env.d.ts
# Expo, React, and Next.js specific
**/.expo/
**/.next/
**/android/
**/ios/
# IDE and system files
**/.DS_Store
**/*.orig.*
**/*.jks
**/*.p8
**/*.p12
**/*.key
**/*.mobileprovision
**/.metro-health-check*
**/*.pem
# TypeScript build info
**/*.tsbuildinfo
# Coverage and other misc files
**/coverage/
**/.vercel/