{
  "semi": true,
  "tabWidth": 2,
  "printWidth": 200,
  "singleQuote": false,
  "proseWrap": "always",
  "trailingComma": "all",
  "arrowParens": "avoid",
  "bracketSpacing": true,
  "jsxSingleQuote": false,
  "bracketSameLine": true,
  "embeddedLanguageFormatting": "auto",
  "htmlWhitespaceSensitivity": "ignore"
}
